.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: 80vh;
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
}

.auth-page::before,
.auth-page::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 150%;
  height: 200px;
  background-size: cover;
  z-index: 0;
}

.auth-page::before {
  left: -20%;
  background: linear-gradient(to top right, #005c97, #363795);
  transform: skewY(-5deg);
}

.auth-page::after {
  right: -20%;
  background: linear-gradient(to top left, #ff6f00, #ff8c00);
  transform: skewY(5deg);
}

.auth-form-container {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 400px;
  text-align: center;
  z-index: 1;
}

.auth-title {
  font-size: 2.5rem;
  color: #ff6f00;
  margin-bottom: 30px;
}

.auth-input-group {
  margin-bottom: 20px;
  text-align: left;
}

.auth-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #e0e0e0;
  color: black;
  border-radius: 6px;
  background-color: white;
  font-size: 1rem;
  box-sizing: border-box;
}

.auth-input:active{
  border-color: #ff6f00;
  background-color: white;
}

.forgot-password-link {
  display: block;
  text-align: right;
  font-size: 0.9rem;
  color: #213547;
  margin-top: 8px;
  text-decoration: none;
}

.forgot-password-link:hover {
  text-decoration: underline;
  color: #ff6f00;
}

.auth-button {
  width: 100%;
  padding: 12px;
  background-color: white;
  color: #ff6f00;
  border: 2px solid #ff6f00;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color .5s, border-color .5s ease ;
 
}

.auth-button:hover {
  color :  white;
  background-color: #ff6f00;
  border-color: #ff6f00;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #bdbdbd;
  margin: 30px 0;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #e0e0e0;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.google-button {
  width: 100%;
  padding: 12px;
  background-color: white;
  color: #213547;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.google-icon {
  width: 20px;
  height: 20px;
}

.auth-switch-link {
  margin-top: 30px;
  font-size: 1rem;
  color: #213547;
}

.auth-switch-link a {
  color: #ff6f00;
  font-weight: bold;
  text-decoration: none;
}
.signup-link:hover {
  text-decoration: underline;
  color: #ff6f00;
}


.terms-text {
  font-size: 0.8rem;
  color: #757575;
  margin-top: 20px;
}

.terms-text a {
  color: #ff6f00;
  text-decoration: none;
} 